

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent!</h3>
      <hr>
      <!--1 selettore-->
      <!--<app-servers></app-servers>-->
      <!--2 selettore come attributi-->
      <!--<div app-servers></div>-->
      <!--3 selettore di classe-->
      <div class="app-servers"></div>

      <!-- <p>exercise1 works!</p>-->
      <!-- richiamiamo il componente creato per l'esercizio1-->
      <!--<app-exercise1></app-exercise1> -->
      <!-- <app-warning-alert></app-warning-alert>-->
      <!-- <app-success-alert></app-success-alert> -->
    </div>

  </div>

</div>


<!-- <p>exercise2 works!</p>-->

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <!--<app-exercise2></app-exercise2> -->




    </div>
  </div>
</div>
