
<h4>
  <p>exercise1 works!</p>

</h4>

<hr />
<hr>
<ol>
  <li>create two Components (Manually or with CLI): Warning-alert and SuccessAlert</li>
  <li>Output them beneath each other in the AppComponent</li>
  <li>Output a warning or a success message in the Components</li>
  <li>Style the Components appropriately (maybe some red/green text?)</li>
</ol>
<p>Use external o interlan templates and styles!</p>
<p>Feel free to create more components, nest them into each other or play around with different types of selectors!</p>
<hr />
<hr>
